@media only screen and (max-device-width: 480px){
    .wrapper{
        width: 700px;
    }
    .pets-slider{
        width: 300px;
    }
    .about-content{
        grid-template-columns: .5fr 1.5fr;
    }
}