@keyframes progressLine{ 0%{height: 0px;} 100%{height: 1350px;}}
@keyframes progressCircle{ 0%{height: 0px; } 100%{height: 30px;}}
@keyframes progressCircleBig{ 0%{height: 0px;} 100%{height: 50px;}}



*{
    padding: 0;
    margin: 0;
    color: #1e1e1e;
    box-sizing: border-box;
    transition: .5s;
}
p, a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
h1{
    font-family: 'Montserrat', sans-serif;
}
.button-black{
    padding: 25px 55px 25px 55px;
    border: solid #000;
    font-size: 20px;
    text-transform: uppercase;
}
.button-white{
    padding: 25px 55px 25px 55px;
    font-size: 20px;
    text-transform: uppercase;
    background: #fff;
}






.container{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.header{
    width: 100%;
    height: 945px;
    background: #fff;
}
.header-content{
    width: 100%;
    height: 945px;
    position: relative;
    display: grid;
    justify-content: center;
}

.header-navigation{
    position: relative;
    width: 630px;
    margin-top: 20px;
    z-index: 2;
}
.burger{
    width: 30px;
    position: relative;
    height: 30px;
    top: 10%;
    cursor: pointer;
    display: none;
}
.burger span{
    position: absolute;
    width: 100%;
    height: 5px;
    margin-top: 10px;
    background-color: black;
    top: 10%;
    transition: .5s;
}
.burger._active span{
    display: none;
}
.burger::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: black;
    bottom: 0;
    transition: all .5s;
}
.burger._active::after{
    transform: rotate(45deg);
    top: 0;
}
.burger._active::before{
    transform: rotate(-45deg);
}
.burger::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: black;
    top: 0;
    transition: all .5s;
}
.nav-wrapper{
    position: relative;
    list-style: none;
}
.header-logo{
    position: absolute;
    left: 47%;
    top: 3%;
    margin-top: -10px;
    background: black;
    width: 55px;
    height: 55px;
    text-align: center;
}
.header-logo h1{
    font-size: 35px;
    color: white;
    padding-top: 5px;
}
.header-nav._right{
    position: absolute;
    right: 0;
    top: 0;
}
.header-navigation a{
    margin-left: 35px;
    opacity: .5;
    transition: .5s;
}
.header-navigation a:hover{
    opacity: .9;
}

.header-mainText{
    text-align: center;
    z-index: 1;
}
.header-mainText h1{
    font-size: 50px;
    font-weight: normal;
}
.header-mainText p{
    font-style: italic;
    opacity: .5;
    padding-top: 15px;
    font-size: 20px;
    margin-bottom: 90px;
}
.header-button{
    position: relative;
    transition: .5s;
}
.header-button::before{
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: black;
    opacity: .1;
    right: 0;
    top: 0;
    transition: .5s;
    clip-path: polygon(100% 0, 0 0, 0 100%);
}
.header-button::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: black;
    opacity: .2;
    left: 0;
    top: 0;
    transition: .5s;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}
.header-button:hover{
    font-size: 21px;
}
.header-button:hover:before{
    width: 100%;
    left: 0;
}
.header-button:hover:after{
    width: 100%;
    /* opacity: .1; */
}
/* First Section */

.fSec{
    width: 100%;
    height: 1350px;
    background: #000;
}
.fSec a, .fSec h1, .fSec p{
    color: #fff;
}
.fSec-content{
    width: 100%;
    height: 1350px;
    position: relative;
    display: grid;
    grid-template-columns: 2fr .5fr 2fr;
    justify-content: center;
    align-items: center;
}
.fSec-leftDates{
    margin-top: -500px;
}
.fSec-rightDates{
    margin-top: -200px;
}
.fSec-rightDates div, .fSec-leftDates div{
    margin-top: 400px;
}
.fSec-leftDates h1, .fSec-rightDates h1{
    font-size: 50px;
    text-align: right;
}
.fSec-rightDates h1{
    text-align: left;
}
.fSec-leftDates p, .fSec-rightDates p{
    font-size: 20px;
    opacity: .5;
}

.fSec-progressLine, .fSec-progressLine-animate{
    background-color: #0101;
    height: 1350px;
    width: 10px;
    margin-left: 55px;
    display: grid;
    justify-content: center;
    position: relative;
    z-index: 3;
}
.fSec-progressLine-animate::before{
    background: #ffff;
    mix-blend-mode: multiply;
    position: absolute;
    content: '';
    width: 10px;
    height: 1350px;
    z-index: 4;
    animation: progressLine 5s linear;
}
.fSec-circle{
    width: 50px;
    height: 50px;
    background: #ffff;
    border-radius: 60px;
    position: absolute;
    left: -10%;
    transition: .3s;
}
.fCircle{
    margin-top: 300px;
}
.sCircle{
    bottom: 60%;
    position: absolute;
}
.tCircle{
    top: 62%;
    background: #000;
    left: -200%;
}
.bigC-animate{
    animation: progressCircleBig .3s linear;
    background: #fff;
}
.tCircle .back{
    width: 40px;
    height: 40px;
}
.foCircle{
    margin-top: -130px;
    top: 32%;
}
.smallC, .smallC-animate{
    background: #000;
    width: 30px;
    height: 30px;
    border-radius: 60px;
    margin-left: 10px;
    position: relative;
    display: grid;
    animation: progressCircle 1.5s linear;
}
.smallC-animate{
    background: #fff;
}
.back{
    width: 20px;
    height: 20px;
    background: black;
    border-radius: 50px;
    margin: 0 auto;
    margin-top: 5px;
}

/*section number 2 about us*/

.secSec{
    width: 100%;
    height: 950px;
    background: #fff;
    position: relative;
    z-index: 5;
}
.secSec::before{
    content: '';
    position: absolute;
    top: -20%;
    width: 100%;
    height: 200px;
    background: url('../creative-company/img/buildings.png') center no-repeat;
    background-size: cover;
}
.secSec-content{
    width: 100%;
    height: 950px;
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
}
.secSec-mainText{
    position: absolute;
    top: 5%;
    left: 35%;
    text-align: center;
}
.secSec-mainText h1{
    font-size: 50px;
    opacity: .8;
    font-weight: normal;
}
.secSec-mainText p{
    font-size: 20px;
    opacity: .5;
    text-align: center;
}
.secSec-team{
    width: 100%;
    height: 385px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1fr;
    grid-template-areas: 
        '. justin .'
        'mark justin ant';
    grid-gap: 150px;
    text-align: center;
}
.secSec-team img{
    width: 170px;
    height: 170px;
}
.secSec-team h3{
    font-size: 30px;
    font-weight: normal;
    opacity: .7;
}
.secSec-team p{
    font-size: 16px;
    opacity: .3;
    margin-top: 10px;
}
.secSec-mark{
    grid-area: mark;
}
.secSec-justin{
    grid-area: justin;
}
.secSec-antonio{
    grid-area: ant;
}



/*Third section services*/
.thirdSec{
    width: 100%;
    height: 1670px;
    background: #000000;
    clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%); /*making section as a parallelogram*/
}
.thirdSec h1, .thirdSec p, .thirdSec h3, .thirdSec a{
    color: white;
}
.thirdSec-content{
    width: 100%;
    height: 1670px;
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
}

.thirdSec-text{
    margin-top: 150px;
    text-align: center;
}
.thirdSec-text h1{
    font-weight: normal;
    font-size: 40px;
}
.thirdSec-text p{
    opacity: .3;
    font-size: 20px;
    margin-top: 10px;
}
.thirdSec-services{
    margin-top: 100px;
    width: 100%;
    height: 325px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
.thirdSec-services h3{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: normal;
}
.thirdSec-services p{
    opacity: .3;
    font-size: 15px;
}

.thirdSec-blog{
    height: 720px;
    width: 100%;
    background: url('../creative-company/img/Posts.png') center no-repeat;
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
}
.thirdSec-button{
    box-shadow: 2px 2px 2px  2px #fff;
    margin-top: 80px;
    position: relative;
    transition: .5s;
}
.thirdSec-button::before{
    content: '';
    position: absolute;
    width: 0%;
    height: 102%;
    background-color: black;
    opacity: .1;
    right: -2%;
    top: 0;
    transition: .5s;
    clip-path: polygon(100% 0, 0 0, 0 100%);
}
.thirdSec-button::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 102%;
    background-color: black;
    opacity: .2;
    left: 0;
    top: 0;
    transition: .5s;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}
.thirdSec-button:hover{
    font-size: 21px;
}
.thirdSec-button:hover:before{
    width: 102%;
    left: 0;
}
.thirdSec-button:hover:after{
    width: 102%;
    bottom: 0;
    /* opacity: .1; */
}
.thirdSec-blog a{
    color: #000;
}



/*'form' section number 4*/

.fourthSec{
    width: 100%;
    height: 1115px;
    background: #fff;
}
.fourthSec-content{
    width: 100%;
    height: 1115px;
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
}


.fourthSec-text-wrap{
    text-align: center;
    margin-top: -100px;
}
.fourthSec-text h1{
    font-weight: normal;
    font-size: 60px;
    color: black;
}
.fourthSec-text p{
    opacity: .4;
    color: black;
    font-size: 30px;
}
.fourthSec-icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 100px;
    height: 50px;
    position: relative;
}
.fourthSec-icons img{
    position: absolute;
    top: 0;
}
.fourthSec-icons p{
    margin-top: 30px;
    opacity: .5;
}

.fourthSec-form{
    margin-top: -100px;
}

.fourthSec-form form{
    display: grid;
}
.fourthSec-form form input, .fourthSec-form form textarea{
    margin-bottom: 20px;
    width: 775px;
    height: 50px;
    text-align: center;
    opacity: .5;
}
#Message{
    height: 200px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}
.fourthSec-form a{
    text-align: center;
    text-transform: none;
    color: white;
    font-size: 25px;
}
.fourthSec-button{
    background: black;
}



/*Rights*/

footer{
    width: 100%;
    height: 100px;
    border-top: 1px solid rgba(0,0,0, .2);

}
.right-content{
    width: 100%;
    height: 100px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.right-content p{
    opacity: .5;
    font-size: 20px;
}