@media screen and (max-width: 1050px){
    .pets{
        height: 1000px;
    }
    .pets-content{
        height: 100%;
    }
    .pets_arrows{
        margin-top: 0px;
        height: 430px;
        width: 100%;
    }
    .arrow{
        display: none;
    }
    .slider-pets{
        float: none;
        width: 200px;
        height: 300px;
        margin-left: 40px;
    }
    .slider-pets img{
        height: 200px;
        width: 200px;
    }
    .slider-content{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .pets-slider{
        overflow-y: scroll;
        position: relative;
        height: 550px;
        width: 100%;
    }
}
@media screen and (max-width: 768px){
    .wrapper{
        max-width: 750px;
    }
    .burger{
        position: absolute;
        right: 0;
        cursor: pointer;
        display: inline-block;
        z-index: 3;
        margin-right: 20px;
    }
    .header-nav nav{
        z-index: 2;
        position: absolute;
        top: -30%;
        right: -100%;
        background-color: #2D2522;
        height: 100vh;
        overflow: ;
    }
    .header-nav nav._active{
        right: 0;
    }
    .header-nav {
        z-index: 2;
    }
    .header-nav li{
        float: none;
        margin-top: 50px;
        margin-right: 20px;
    }
    .nav-wrap{
        margin-top: 200px;
    }

    .header-text{
        grid-area: h-txt;
        width: 90%;
        text-align: left;
        justify-self: center;
    }

    .slider-content{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .about{
        height: 1000px;
    }
    .about-content{
        grid-template-columns: 1fr;
        grid-template-areas: 
                'a-img'
                'a-txt';
    }
    .about-img img{
        position: static;
    }
    .about-text{
        grid-area: a-txt;
        text-align: center;
    }





    .help{
        height: 610px;
    }
    .help-first-area{
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
    }
    .help-sec-area{
        grid-template-columns: 1fr 1fr 1fr;
    }


    .donation{
        height: 700px;
    }
    .donation-content{
        grid-template-columns: 1fr;
        grid-template-areas: 
        'd-img'
        'd-txt';
    }

    .footer{
        height: 540px;
    }
    .footer-items{
        justify-self: center;
    }
    .footer-content{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
                'f-ques f-locate'
                'f-image f-image';
        padding-top: 39px;
    }	
    .footer h1{
        font-size: 20px;
    }
}



@media screen and (max-width: 548px){
    .wrapper{
        max-width: 548px;
    }

    .header, .header-content{
        height: 700px;
    }
    .header-text{
        text-align: left;
        width: 90%;
    }
    .header-text h1{
        font-size: 48px;
    }



    .pets_arrows{
        margin-top: 170px;
        height: 200px;
    }
    .slider-content{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }
    .pets-lm{
        margin-top: 100px;
        justify-self: center;
    }

    .help, .help-content{
        height: 1000px;
    }
    .help-first-area, .help-sec-area{
        grid-template-columns: 1fr 1fr;
    }
    .help-first-area div, .help-sec-area div{
        margin-top: 20px;
    }


    .donation-img img{
        width: 300px;
    }
    .donation-text{
        margin-left: 50px;
    }
    .footer-img {
        display: grid;
    }
    .footer-img img{
        width: 200px;
        align-self: flex-end;
    }
}