*,*:after,*:before{
	box-sizing: border-box;
	list-style: none;
	margin: 0;
	padding: 0;
	font-family: 'Arial' sans-serif;
	text-decoration: none;
	font-weight: normal;

}
.wrapper{
	max-width: 1205px;
	margin: 0 auto;
	height: 100%;

}
.header{
	width: 100%;
	height: 920px;
	background: url('../cozy-house/images/backDog.jpg') center no-repeat;
	background-size: cover;
}
.header h3, .header a{
	color: #fff;
}
.header-content{
	padding-top: 60px;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-areas: 
			'h-logo h-nav'
			'h-txt h-txt';
	
}
/*h-logo*/
.header-logo{
	grid-area: h-logo;
}
.header-logo h3::selection,.header-logo p::selection{
	background: transparent;
}
.header-logo h3{
	color: #f1cdb3;
	font-family: 'Georgia' sans-serif;
	font-size: 32px;
}
.header-logo p{
	color: #c1bfbd;
}
/*h-nav*/
.header-nav{
	grid-area: h-nav;
	padding-top: 20px;
}
.header-nav li{
	float: left;
}
.header-nav a{
	margin-left: 40px;
	color: #b4b4b3;
	font-size: 17px;
}
/*h-text*/
.header-text{
	grid-area: h-txt;
	width: 40%;
}
.header-text h1{
	font-size: 70px;
	color: #fff;
}
.header-text p{
	color: #cdcdcd;
	font-size: 17px;
	padding-top: 20px;
	padding-bottom: 40px;
}
.header-text a{
	color: #292929;
	opacity: .7;
}
.button{
	font-size: 17px;
	background-color: #f1cdb3;
	padding: 15px 42px 15px 42px;
	border-radius: 50px;
}
/*section2 'about'*/
.about{
	background-color: #fff;
	width: 100%;
	height: 580px;
}
.about-content{
	margin-top: 90px;
	width: 100%;
	height: 100%;
	display: grid;
	position: relative;
	grid-template-columns: 1.5fr 1fr;
	grid-template-areas: 
			'a-img a-txt';
}
.about-img{
	grid-area: a-img;
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
}
.about-img img{
	position: absolute;
	top: 0;
}
.about-img img::selection{
	background: transparent;
}
/*section 1 'about' text*/
.about-text{
	grid-area: a-txt;
	text-align: left;
}
.about-text h1{
	font-size: 50px;
	color: #545454;
}
.about-text p{
	color: #5d5d5d;
	font-size: 18px;
	padding-top: 45px;
}
/* section n2 'pets' */
.pets{
	width: 100%;
	height: 830px;
	background-color: #f6f6f6;
}
.pets-content{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 1fr 2fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: 
		'. p-txt .'
		'. p-slider .'
		'. p-bt .';
	text-align: center;
}
.pets-text{
	grid-area: p-txt;
	margin-top: 75px;
}
.pets-text h1{
	font-size: 30px;
	color: #545454;
}
.pets-lm{
	margin-top: 60px;
	grid-area: p-bt;
}
.pets-lm a{
	color: #000;
}
.pets_arrows{
	grid-area: p-slider;
	height: 430px;
	width: 1045px;
	position: relative;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.pets-slider{
	position: absolute;
	height: 430px;
	width: 950px;
	overflow: hidden; 
	grid-area: s-pet;
}
.l_arrow, .r_arrow{
	border: solid #f1cdb3;
	border-radius: 20px;
	padding: 3px 7px 5px 7px;
	transition: .3s;
	cursor: pointer;
}
.l_arrow:hover, .r_arrow:hover{
	background: #f1cdb3;
}
.l_arrow{
	position: absolute;
	left: 0;
	margin-top: 100px;
}
.r_arrow{
	position: absolute;
	right: 0;
	margin-top: 100px;
}
.slider-pets img{
	height: 300px;
	width: 240px;
}
.slider-content{
	width: 1575px;
	position: relative;
	right: 0;
	transition: all ease .5s;
}
.slider-pets{
	transition: all ease .5s;
	background: #fafafa;
	position: relative;
	float: left;
	margin-left: 50px;
	height: 420px;
	width: 265px;
	display: grid;
	grid-template-rows: 2fr 1fr 1fr;
	grid-template-areas: 
		's-pet'
		's-name'
		's-bt';
	opacity: .8;
}
.slider-pets:hover{
	opacity: 1;
}
.slider-pets a{
	text-align: center;
	padding-top: 12px;
	font-size: 25px;
	color: #000;
}
.pet-button{
	grid-area: s-bt;
	border: solid #f1cdb3;
	border-radius: 30px; 
}
.slider-pets h4{
	grid-area: s-name;
	text-align: center;
	font-size: 30px;
	color: #545454;
	font-weight: normal;

}



.help{
	height: 590px;
	width: 100%;
	background-color: #fafafa;
}
.help-content{
	width: 100%;
	height: 100%;
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 1fr 2fr 2fr;
	grid-template-areas: 
			'. h-title .'
			'h-first h-first h-first'
			'h-sec h-sec h-sec';
}
.help-content h4{
	padding-top: 30px;
	color: #8c8c8c;
}
.help-title{
	grid-area: h-title;
	text-align: center;
	margin-top: 30px;
}
.help-title h1{
	color: #545454;
	font-size: 30px;
}
.help-first-area{
	grid-area: h-first;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	justify-self: center;
	margin-right: 115px;
}
.help-first-area div, .help-sec-area div{
	text-align: center;
	margin-left: 115px;
	cursor: pointer;
}
.help-sec-area{
	grid-area: h-sec;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	justify-self: center; 
	margin-right: 115px;
}

.donation{
	width: 100%;
	height: 450px;
	background: #f6f6f6;
}
.donation-content{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 2fr 2fr 0.5fr;
	grid-template-areas: 
			'd-img d-txt .';
	padding-top: 70px;
}
.donation-img{
	grid-area: d-img;
	justify-self: center;
}
.donation-text{
	justify-self: center;
	grid-area: d-txt;
	margin-left: 100px; 
}
.donation-text h1{
	color: #545454;
	font-size: 30px;

}
.donation-text h4{
	color: #545454;
	font-size: 15px;
	opacity: .7;
	padding-top: 34px;
	padding-bottom: 16px;
}
.donation-p{
	color: #545454;
	opacity: .5;
	padding-top: 30px;
}
.mobNum{
	position: relative;
	background: #f1cdb3;
	border-radius: 10px;
	color: #292929;
	width: 310px;
	height: 45px;
	text-align: center;
	font-size: 20px;
	cursor: pointer;
}
.mobNum p{
	padding-top: 10px;
	padding-left: 15px;
}
.mobNum img{
	padding-right: 20px;
	padding-top: 10px;
	position: absolute;
	left: 0;
	padding-left: 10px;
}
.footer{
	width: 100%;
	height: 360px;
	background: url('../cozy-house/images/footer-back.jpg') center no-repeat;
	background-size: cover;
}
.footer-content{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: 
			'f-ques f-locate f-image';
	padding-top: 39px;		
}
.footer-content h1{
	color: #ffff;
	font-size: 40px;
}
.footer-content p{
	color: #d5b59e;
	padding-left: 50px;
}
.footer-ques img, .footer-locate img{
	position: absolute;
	left: 0;
}
.footer-ques{
	position: relative;
	grid-area: f-ques;
	margin-top: 15px;
}
.footer-ques div{
	margin-top: 35px;
}
.footer-locate{
	position: relative;
	grid-area: f-locate;
	margin-top: 15px;
}
.footer-locate div{
	margin-top: 35px;
}
.footer-img{
	grid-area: f-image;
}