*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    font-family: 'Roboto Slab', sans-serif;
}
h3,h4,h5,h6,p,a,textarea{
    font-family: 'Roboto', sans-serif;
}

$h1font: #15A481;

@mixin divPar($height, $background, $width) {
    width: $width;
    height: $height;
    background: $background;
    background-size: cover;
}
@mixin startSecContent($height){
    width: 100%;
    height: $height;
    display: grid;
    position: relative;
}
@mixin noneDecor{
    list-style: none;
    text-decoration: none;
}
@mixin font($color, $size){
    color: $color;
    font-size: $size;
}
@mixin centerGrid{
    justify-content: center;
    align-items: center;
}
@mixin button($color, $size, $background){
    font-size: $size;
    color: $color;
    background: $background;
    padding: 15px 25px 15px 25px;
    border-radius: 50px;
    box-shadow: 0px 0px 10px 5px rgba(21,164,129, .5);
}
@mixin lightBorder {
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 20px;
}
.button{
    @include noneDecor();
    @include button(#fff, 15px, $h1font);
}



.container-header {
    width: 1160px;
    height: 100%;
    margin: 0 auto;
}
.container{
    width: 800px;
    height: 100%;
    margin: 0 auto;
}


.header-number{
    right: 0;
    width: 230px;
    margin-top: 20px;
    position: absolute;
}
.header-number h3, .header-logo h1{
    @include font($h1font, 18px);
    font-weight: normal;
}
.header-logo h1{
    font-size: 40px;
    font-weight: normal;
}
.header-logo{
    left: 0;
    position: absolute;
}
.header-number img{
    float: left;
}
.header{
    @include divPar(700px, url('../site 6/img/header-back.jpg'), 100%)
}
.header-content{
    @include startSecContent(700px);
    justify-content: center;

}
.header-up{
    @include divPar(50px, none ,800px );
    margin-left: 110px;
    margin-top: 20px;
}
.header-up a{
    @include noneDecor();
    @include font($h1font, 18px);
    margin-left: 60px;
}
.header-up li{
    @include noneDecor()
}
.header-down{
    @include startSecContent(630px);
    grid-template-columns: 2fr 1.5fr;
    @include centerGrid;
}
.header-mainText h1{
    @include font($h1font, 70px);
    font-weight: normal;
}
.header-mainText p{
    @include font($h1font, 18px);
    margin-top: 20px;
}
.header-Images{
    @include divPar(595px, url('../site 6/img/catDog.png') center no-repeat,600px );
    position: relative;
}
.header-Images a{
    position: absolute;
    bottom: 15%;
    @include noneDecor();
    @include button(#fff, 18px, $h1font);
}
.header-button-cat{
    left: 15%;
}
.header-button-dog{
    right: 15%;
}


/*Right section */
.rightSecHelpNews{
    position: absolute;
    left: 80%;
    @include divPar(900px, none, 250px);
    margin-top: 50px;
}
.help{
    @include divPar(350px,none ,250px );
    @include lightBorder;
    display: grid;
    @include centerGrid();
}
.help a{
    width: 234px;
    display: inline-block;
    text-align: center;
}
.help h3{
    @include font($h1font, 25px);
    text-align: center;
    margin-bottom: 20px;
}

.help div{
    margin-bottom: 20px;
}
.news{
    @include divPar(540px,none ,250px );
    position: absolute;
    bottom: 1;
    @include lightBorder();
    margin-top: 20px;
}
.news h3{
    @include font($h1font, 25px);
    text-align: center;
}
.news p{
    margin-top: 30px;
    opacity: .7;
    margin-left: 10px;
}


/*second sec about us*/
.secSec{
    @include divPar(300px,none ,90% );
    position: relative;
    margin-top: 50px;
}
.secSec-content{
    @include startSecContent(300px);
}
.secSec-fText{
    text-align: center;
}
.secSec-fText p{
    margin-top: 20px;
    line-height: 30px;
    @include font(#000,18px )
}
.secSec-fText h1{
    @include font($h1font, 30px);
}
.secSec-sText p{
    @include font(#000, 18px);
    text-align: center;
}



/*Third section our pets*/

.thirdSec{
    @include divPar(1000px,none , 90%);
    position: relative;
}
.thirdSec-content{
    @include startSecContent(700px);
    @include centerGrid();
}
.thirdSec-mainText h1{
    @include font($h1font, 45px);
    text-align: center;
}
.thirdSec-filter{
    @include startSecContent(100px);
    width: 300px;
    grid-template-columns: 1fr 1fr;
}
.thirdSec-nav1{
    @include lightBorder();
    @include startSecContent(50px);
    grid-template-columns:1fr 1fr;
    @include centerGrid();
    width: 200px;
}
#dog{
    text-align: center;
    border-left: 1px solid rgba(0,0,0,.1);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.petButton{
    @include font(#000, 18px);
}
#cat{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px; 
}
.thirdSec-nav1 a, .thirdSec-nav2 a{
    @include noneDecor();
    height: 50px;
    display: grid;
    @include centerGrid();
}
.thirdSec-nav2 a{
    @include font(#000, 18px);
}
.petButton:hover{
    @include font(#fff, 18px);
    background-color: $h1font;
}
.petButton-activate{
    @include font(#fff, 18px);
    background-color: $h1font;
}
.thirdSec-nav2{
    margin-left: 50px;
    @include startSecContent(50px);
    grid-template-columns:1fr 1fr;
    @include centerGrid();
}
.thirdSec-nav2 a{
    @include lightBorder();
    margin-left: 20px;
}
.thirdSec-petsWrapper{
    @include startSecContent(500px);
}
.thirdSec-pet img{
    width: 230px;
    height: 201px;
    border-radius: 20px;
}
.thirdSec-pets{
    @include startSecContent(700px);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 40px;
}
.thirdSec-pets p, .thirdSec-petInfo h4{
    margin-top: 5px;
    margin-left: 8px;
}   
.thirdSec-petBorder{
    @include lightBorder(); 
    @include startSecContent(280px);
    width: 230px;
    justify-content: center;
}
.dogs{
    display: none;
    transition: 2s;
}




/* Fourth sec help */
.fourthSec{
    @include divPar(500px,#fff ,100% );
    position: relative;
}
.fourthSec-content{
    @include startSecContent(500px);
    left: -8%;
}
.fourthSec-content h1{
    text-align: center;
    @include font($h1font, 24px);
}
.fourthSec-mainText p{
    @include font(#000, 18px)
}
.fourthSec-form{
    @include startSecContent(230px);
    top: 20%;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
}
.fourthSec-form p{
    @include font(#000, 17px);
    color: #CA2929;
}
#aim{
    grid-area: aim;
    height: 50px;
}
#summ{
    grid-area: summ;
    margin-top: 20px;
}
.fourthSec-form a{
    grid-area: trans;
}
.fourthSec-form input{
    @include lightBorder();
    padding-left: 20px;
    @include font(#B5B5B5, 15px)
}
.fourthSec-form form{
    @include startSecContent(164px); 
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'aim aim'
    'summ trans';
    background: #F0F0F0;
    padding: 20px 20px 20px 20px;
    @include lightBorder();
}
.fourthSec-form form a{
    margin-top: 30px;
    @include button(#15A481,18px ,#fff);
    text-align: center;
    width: 140px;
    margin-left: 80px;
    height: 50px;
    @include noneDecor();
    box-shadow: none;
}


.footer{
    @include divPar(420px, #F8F8F8, 100%);
    position: relative;
    @include lightBorder();
    // top: -350px;
}
.footer-content{
    @include startSecContent(420px);
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    left: -8%;
}
.footer-contacts{
    padding-left: 20px;
    margin-top: 35px;
}
.footer-contacts div{
    margin-top: 15px;
}
.footer-contacts h1{
    @include font($h1font, 30px)
}
.map{
    margin-right: 30px;
    margin-top: 35px;
}
.map h1{
    @include font($h1font, 30px);
    text-align: center; 
}
