* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-family: 'Roboto Slab', sans-serif;
}

h3, h4, h5, h6, p, a, textarea {
  font-family: 'Roboto', sans-serif;
}

.button {
  list-style: none;
  text-decoration: none;
  font-size: 15px;
  color: #fff;
  background: #15A481;
  padding: 15px 25px 15px 25px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(21, 164, 129, 0.5);
          box-shadow: 0px 0px 10px 5px rgba(21, 164, 129, 0.5);
}

.container-header {
  width: 1160px;
  height: 100%;
  margin: 0 auto;
}

.container {
  width: 800px;
  height: 100%;
  margin: 0 auto;
}

.header-number {
  right: 0;
  width: 230px;
  margin-top: 20px;
  position: absolute;
}

.header-number h3, .header-logo h1 {
  color: #15A481;
  font-size: 18px;
  font-weight: normal;
}

.header-logo h1 {
  font-size: 40px;
  font-weight: normal;
}

.header-logo {
  left: 0;
  position: absolute;
}

.header-number img {
  float: left;
}

.header {
  width: 100%;
  height: 700px;
  background: url("../site 6/img/header-back.jpg");
  background-size: cover;
}

.header-content {
  width: 100%;
  height: 700px;
  display: -ms-grid;
  display: grid;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-up {
  width: 800px;
  height: 50px;
  background: none;
  background-size: cover;
  margin-left: 110px;
  margin-top: 20px;
}

.header-up a {
  list-style: none;
  text-decoration: none;
  color: #15A481;
  font-size: 18px;
  margin-left: 60px;
}

.header-up li {
  list-style: none;
  text-decoration: none;
}

.header-down {
  width: 100%;
  height: 630px;
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-columns: 2fr 1.5fr;
      grid-template-columns: 2fr 1.5fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-mainText h1 {
  color: #15A481;
  font-size: 70px;
  font-weight: normal;
}

.header-mainText p {
  color: #15A481;
  font-size: 18px;
  margin-top: 20px;
}

.header-Images {
  width: 600px;
  height: 595px;
  background: url("../site 6/img/catDog.png") center no-repeat;
  background-size: cover;
  position: relative;
}

.header-Images a {
  position: absolute;
  bottom: 15%;
  list-style: none;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  background: #15A481;
  padding: 15px 25px 15px 25px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(21, 164, 129, 0.5);
          box-shadow: 0px 0px 10px 5px rgba(21, 164, 129, 0.5);
}

.header-button-cat {
  left: 15%;
}

.header-button-dog {
  right: 15%;
}

/*Right section */
.rightSecHelpNews {
  position: absolute;
  left: 80%;
  width: 250px;
  height: 900px;
  background: none;
  background-size: cover;
  margin-top: 50px;
}

.help {
  width: 250px;
  height: 350px;
  background: none;
  background-size: cover;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.help a {
  width: 234px;
  display: inline-block;
  text-align: center;
}

.help h3 {
  color: #15A481;
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
}

.help div {
  margin-bottom: 20px;
}

.news {
  width: 250px;
  height: 540px;
  background: none;
  background-size: cover;
  position: absolute;
  bottom: 1;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-top: 20px;
}

.news h3 {
  color: #15A481;
  font-size: 25px;
  text-align: center;
}

.news p {
  margin-top: 30px;
  opacity: .7;
  margin-left: 10px;
}

/*second sec about us*/
.secSec {
  width: 90%;
  height: 300px;
  background: none;
  background-size: cover;
  position: relative;
  margin-top: 50px;
}

.secSec-content {
  width: 100%;
  height: 300px;
  display: -ms-grid;
  display: grid;
  position: relative;
}

.secSec-fText {
  text-align: center;
}

.secSec-fText p {
  margin-top: 20px;
  line-height: 30px;
  color: #000;
  font-size: 18px;
}

.secSec-fText h1 {
  color: #15A481;
  font-size: 30px;
}

.secSec-sText p {
  color: #000;
  font-size: 18px;
  text-align: center;
}

/*Third section our pets*/
.thirdSec {
  width: 90%;
  height: 1000px;
  background: none;
  background-size: cover;
  position: relative;
}

.thirdSec-content {
  width: 100%;
  height: 700px;
  display: -ms-grid;
  display: grid;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.thirdSec-mainText h1 {
  color: #15A481;
  font-size: 45px;
  text-align: center;
}

.thirdSec-filter {
  width: 100%;
  height: 100px;
  display: -ms-grid;
  display: grid;
  position: relative;
  width: 300px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.thirdSec-nav1 {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 100%;
  height: 50px;
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
}

#dog {
  text-align: center;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.petButton {
  color: #000;
  font-size: 18px;
}

#cat {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.thirdSec-nav1 a, .thirdSec-nav2 a {
  list-style: none;
  text-decoration: none;
  height: 50px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.thirdSec-nav2 a {
  color: #000;
  font-size: 18px;
}

.petButton:hover {
  color: #fff;
  font-size: 18px;
  background-color: #15A481;
}

.petButton-activate {
  color: #fff;
  font-size: 18px;
  background-color: #15A481;
}

.thirdSec-nav2 {
  margin-left: 50px;
  width: 100%;
  height: 50px;
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.thirdSec-nav2 a {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-left: 20px;
}

.thirdSec-petsWrapper {
  width: 100%;
  height: 500px;
  display: -ms-grid;
  display: grid;
  position: relative;
}

.thirdSec-pet img {
  width: 230px;
  height: 201px;
  border-radius: 20px;
}

.thirdSec-pets {
  width: 100%;
  height: 700px;
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-gap: 40px;
}

.thirdSec-pets p, .thirdSec-petInfo h4 {
  margin-top: 5px;
  margin-left: 8px;
}

.thirdSec-petBorder {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 100%;
  height: 280px;
  display: -ms-grid;
  display: grid;
  position: relative;
  width: 230px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dogs {
  display: none;
  -webkit-transition: 2s;
  transition: 2s;
}

/* Fourth sec help */
.fourthSec {
  width: 100%;
  height: 500px;
  background: #fff;
  background-size: cover;
  position: relative;
}

.fourthSec-content {
  width: 100%;
  height: 500px;
  display: -ms-grid;
  display: grid;
  position: relative;
  left: -8%;
}

.fourthSec-content h1 {
  text-align: center;
  color: #15A481;
  font-size: 24px;
}

.fourthSec-mainText p {
  color: #000;
  font-size: 18px;
}

.fourthSec-form {
  width: 100%;
  height: 230px;
  display: -ms-grid;
  display: grid;
  position: relative;
  top: 20%;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
}

.fourthSec-form p {
  color: #000;
  font-size: 17px;
  color: #CA2929;
}

#aim {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: aim;
  height: 50px;
}

#summ {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: summ;
  margin-top: 20px;
}

.fourthSec-form a {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: trans;
}

.fourthSec-form input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding-left: 20px;
  color: #B5B5B5;
  font-size: 15px;
}

.fourthSec-form form {
  width: 100%;
  height: 164px;
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 'aim aim' 'summ trans';
  background: #F0F0F0;
  padding: 20px 20px 20px 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.fourthSec-form form a {
  margin-top: 30px;
  font-size: 18px;
  color: #15A481;
  background: #fff;
  padding: 15px 25px 15px 25px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(21, 164, 129, 0.5);
          box-shadow: 0px 0px 10px 5px rgba(21, 164, 129, 0.5);
  text-align: center;
  width: 140px;
  margin-left: 80px;
  height: 50px;
  list-style: none;
  text-decoration: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.footer {
  width: 100%;
  height: 420px;
  background: #F8F8F8;
  background-size: cover;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.footer-content {
  width: 100%;
  height: 420px;
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: -8%;
}

.footer-contacts {
  padding-left: 20px;
  margin-top: 35px;
}

.footer-contacts div {
  margin-top: 15px;
}

.footer-contacts h1 {
  color: #15A481;
  font-size: 30px;
}

.map {
  margin-right: 30px;
  margin-top: 35px;
}

.map h1 {
  color: #15A481;
  font-size: 30px;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */