*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
p, a, h2, h3, h4, h5, h6, h1{
    font-family: 'Arial', sans-serif;
    text-decoration: none;
    text-align: center;
}

html{
    height: 100%;
}
body{
    height: 100vh;
    position: relative;
}

.container{
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
}


.header{
    height: 10%;
    width: 100%;
    background: url('../img/upLine.jpg') left no-repeat;
    background-size: cover;
    position: relative;
}
.logo{
    float: left;
    margin-top: .8vmin;
}
.logo img{
    margin-top: 2vmin;
    width: 20vmin;
    height: 4vmin;
}


.banner img{
    width: 35vmin;
    height: 60vmin;
}
.banner{
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}


.content{
    height: 80%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}
.wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
}
.loaders{
    justify-self: center;
    align-self: center;
    margin-top: -10vmin;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 25%;
}
.loading{
    background: #F9BF21;
    opacity: .5;
    transition: .5s;
    display: block;
    width: 2vmin;
    height: 2vmin;
    border-radius: 50px;
}
.loading.active{
    opacity: 1;
    transition: .5s;
}

.wrapper h1{
    font-size: 2vmin;
    color: #575757;
    text-transform: uppercase;
}
#notWork{
    justify-self: center;
    font-weight: bold;
    width: 70%;
    background: #F9BF21;
    margin-top: -20vmin;
    color: #2F2F2F;
    font-size: 1.5vmin;
}
.teleg{
    position: relative;
    bottom: 0;
    display: grid;
    justify-content: center;
}
.teleg p{
    color: #2F2F2F;
    font-size: 2vmin;
}
.teleg div{
    width: 40%;
    height: 50%;
    margin-top: 1.3vmin;
    position: relative;
    justify-self: center;
}
.teleg img{
    width: 4.2vmin;
    height: 4vmin;
    text-align: center;
    position: absolute;
    z-index: 2;
}
.teleg a{
    font-size: 2vmin;
    left: 8%;
    z-index: 1;
    padding: .8vmin .8vmin .8vmin 3vmin;
    position: absolute;
    color: #fff;
    background-color: #1e96c8;
    border-radius: 200px;
}   


.footer{
    bottom: 0;
    height: 10%;
    width: 100%;
    background: url('../img/downLine.jpg') right no-repeat;
    background-size: cover;
}