@media only screen and (max-width: 1000px){
    .container{
        width: 800px;
    }
}
@media only screen and (max-width: 800px){
    .container{
        width: 400px;
    }
    .fourthSec-form form input, .fourthSec-form form textarea, .fourthSec-button{
        width: 500px;
    }
    .secSec-team{
        grid-gap: 50px;
    }
    .secSec-team img{
        width: 120px;
        height: 120px;
    }
    .secSec-team h3{
        font-size: 25px;
        font-weight: normal;
        opacity: .7;
    }
    .secSec-team p{
        font-size: 13px;
        opacity: .3;
        margin-top: 10px;
    }
    .secSec-mainText{
        left: 5%;
    }
    .fSec-rightDates{
        margin-left: 50px;
        padding-bottom: 100px;
    }
    .thirdSec-services{
        grid-gap: 50px;
    }
}