
@media only screen and (max-width: 1110px){
    .container{
        max-width: 1000px;
    }
    .secSec-mainText{
        grid-template-columns: 2fr 2fr 2fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        's-txt1 s-txt2  s-txt3'
        's-txt4 s-txt2 s-txt5';
        user-select: none;      
    }
    .header-Title h1{
        font-size: 86px;
    }  
    .header-info h4{
        font-size: 36px;
    }
    .header-info p{
        font-size: 15px;
    }
    .header-content{
        grid-template-columns: 4fr 1fr;
        grid-template-rows: 1fr 3fr;
    }
    .slider-item a{
        color: #fff;
        font-size: 15px;
    }
    .header-icons{
        margin-top: 0px;
        justify-content: end;
        display: grid;
        grid-template-columns: 1fr;
    }
    .header-icons img{
        margin-right: 50px;
        margin-top: 30px;
        float: right;
    }
}
@media only screen and (max-width: 950px){
    .header{
        height: 1100px;
    }
    .header-maintext{
        margin-top: 100px;
        justify-self: center;
        width: 60%;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'h-img'
        'h-title';
        justify-content: center;
    }
    .header-image img{
        width: 500px;
    }
    .header-maintext-wrapp{
        justify-content: center;
        display: grid;
    }
    .header-maintext-wrapp h1{
        text-align: center;
    }
}
@media only screen and (min-width: 601px) {
    .mobile{
        height: 400px;
    }
}
@media only screen and (max-width: 768px) {
    .container{
        max-width: 700px;
    }
    .header-avtxt{
        margin-top: 20px;
        margin-left: 0px;
    }
    .header{
        height: 950px;
    }
    .header-image{
        margin: 0;
    }
    .header-Title h1{
        font-size: 76px;
    }
    .header-info{
        margin-left: -50px;
        margin-top: -60px;
    }
    .header-info h4{
        font-size: 30px;
    }
    .header-info p{
        font-size: 18px;
    }
    .header-content{
        height: 700px;
    }
    .header-navigation{
        margin-left: 0;
        margin-top: 15px;
    }
    .header-navigation a{
        font-size: 15px;
    }
    .header-icons{
        margin-top: 30px;
        grid-template-columns: 1fr 1fr 1fr;
        position: absolute;
        right: 25%;
        top: -3%;
    }
    .header-maintext{
        position: absolute;
        transition: 1s;

    }
    .header-icons img{
        margin-left: -30px;
        width: 25px;
        height: 25px;
        margin-top: 15px;
    }
    .burg-header{
        height: 100vh;
    }
    .nav{
        transition: 2s ease-in-out;
    }
    .nav-nonactive{
        transition: 2s;
        width: 98.6vw;
        height: 100px;
        background: #0E2548;
        position: relative;
        top: -100%;
        z-index: 4;
        display: grid;
        text-align: center;
        justify-content: center;
    }
    .nav-active{
        margin-top: -15px;
        transition: 2s;
        width: 98.6vw;
        height: 100vh;
        background: #0E2548;
        position: relative;
        top: 0;
        z-index: 4;
        display: grid;
        text-align: center;
        justify-content: center;
    }
    .nav-active li{
        margin-top: 50px;
    }
    .nav-active a{
        font-size: 30px;
    }
    .burger__menu{
        width: 30px;
        display: fixed;
        margin: 30px 0 0 60px;
        position: absolute;
        height: 20px;
        z-index: 5;
    }
    .burger__menu:after, .burger__menu:before {
        content: '';
        position: absolute;
        height: 4px;
        width: 100%;
        background: #fff;
        transition: .5s ease-in-out;
    }
    .burger__menu.active:after{
        transform: rotate(45deg);
        top: 8px;
        transition: .5s ease-in-out;
    }
    .burger__menu.active:before{
        transform: rotate(-45deg);
        bottom: 8px;
        transition: .5s ease-in-out;
    }
    .burger__menu.active span{
        transform: scale(0);
    }
    .burger__menu span{
        position: absolute;
        height: 4px;
        width: 100%;
        top: 40%;
        background: #fff;
    }
    .burger__menu:after{
        top: 0;
    }
    .burger__menu:before{
        bottom: 0;
    }



    .thirdSec{
        height: 900px;
        background-position: left;
    }
    .thirdSec-mainText{
        margin-left: -50px;
        grid-template-columns: 1fr 1fr ;
        grid-gap: 30px;
    }
    .thirdSec-mainText div{
        margin-left: 9vw;
        margin-top: 20px;
    }
    .slider{
        height: 750px;
    }
    .sliderItem-textWrapper{
        width: 500px;
    }
    .slider-item img{
        width: 350px;
    }
    .slider-mainText{
        margin-right: 20px;
    }
    .slider-item{
        grid-template-columns: 1fr;
        justify-content: center;
    }
    .slider-item div{
        justify-self: center;
    }
}

@media only screen and (max-width: 550px){
    .container{
        max-width: 450px;
    }
    .header-maintext-wrapp h1{
        font-size: 48px;
    }
    .header-image img{
        width: 450px;
    }
    .header-Title h4{
        font-size: 21px;
    }
    .header-Title p{
        font-size: 16px;
    }
    .header-start._button{
        padding: 20px 45px;
    }
    .secSec{
        height: 500px;
    }
    .sliderItem-textWrapper{
        width: 400px;
    }

    .popup__content{
        height: 60%;
        grid-template-columns: 1fr;
    }
}
@media only screen and (max-width: 450px){
    .container{
        max-width: 360px;
    }
    .header-Title{
        width: 350px;
        justify-self: center;
    }
    .header-image img {
        width: 400px;
    }

    .secSec{
        height: 550px;
    }
    .thirdSec{
        height: 1600px;
    }
    .thirdSec-mainText{
        grid-template-columns: 1fr;
    }
    .slider{
        height: 850px;
    }
    .sliderItem-textWrapper{
        width: 300px;
    }
}
@media only screen and (max-width: 400px){
    .header-image img {
        width: 360px;
    }
}