@media only screen and (max-width: 1110px){
    .header-content{
        grid-template-columns: 3fr 1fr;
    }
    .header-icons img{
        margin-left: 30px;
    }
    .header-icons{
        text-align: right;
    }
    .header-navigation{
        margin-left: 60px;
    }
    .container{
        width: 900px;
    }
    .secSec-mainText{
        grid-template-columns: 2fr 2fr 2fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        's-txt1 s-txt2  s-txt3'
        's-txt4 s-txt2 s-txt5';
        user-select: none;      
    }
    .thirdSec-mainTextWrap div{
        margin-left: 45px;
    }
    .header-avtxt{
        margin-left: -20px;
    }
}
@media only screen and (max-width: 930px){
    .header-navigation{
        margin-left: 170px;
    }
}
@media only screen and (max-width: 767px) {
    .container{
        width: 740px;
    }
    .header-icons{
        margin-right: 30px;
        float: none;
        display: grid;
        grid-template-columns: 1fr;
    }
    .header-navigation a{
        font-size: 15px;
    }
    .secSec-mainText{
        grid-template-areas: 
        's-txt1 . s-txt2 . s-txt3'
        's-txt4 s-txt2 s-txt2 s-txt2 s-txt5';
    }
    .secSec-mainText p{
        font-size: 15px;
    }
    #text2{
        margin-top: 30px;
    }
    #text4{
        margin-left: 0px;
    }
    #text5{
        margin-right: 0px;
    }
    .thirdSec-mainTextWrap div{
        margin-left: 30px;
    }
    .slider-item a{
        color: #fff;
        font-size: 15px;
    }
}