@keyframes appear{0%{opacity: 0;} 100%{opacity: 1;}}


*{
    padding: 0;
    margin: 0;
    color: #fff;
    box-sizing: border-box;
    list-style: none;
}
p, a, h2, h3, h4, h5, h6,h1{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: normal;
}

body{
    overflow-x: hidden;
}

.container{
    max-width: 1120px;
    height: 100%;
    margin: 0 auto;
}

.header{
    max-width: 100%;
    height: 810px;
    background: url('../img/header-back.jpg') center no-repeat;
    background-size: cover;
}
.header-content{
    width: 100%;
    height: 810px;
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    grid-template-areas: 
    'h-nav h-ic'
    'h-txt h-txt';
}

.header_burger{
    display: none;
}



.header-navigation{
    position: relative;
    grid-area: h-nav;
    margin-top: 30px;
    margin-left: -30px;
}   
.header-navigation li{
    float: left;
}
.header-navigation a{
    margin-left: 40px;
    opacity: .8;
    transition: .5s;
    font-size: 16px;
}
.header-navigation a:hover{
    opacity: 1;
}
.header-icons{
    grid-area: h-ic;
    margin-top: 35px;
}
.header-icons img{
    margin-left: 30px;
    margin-top: -7px;
}
.header-maintext-wrapp{
    grid-area: h-txt;
    position: relative;
    width: 100%;

}
.header-maintext{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'h-title h-img';
}
.header-maintext-wrapp h1{
    font-size: 64px;
    font-weight: bold;
    text-align: left;
    transform: translate(-50%,0);
    transition: all 1s ease .5s;
    opacity: 0;
}
.header-maintext-wrapp h1._activeAnim{
    transform: translate(0, 0);
    opacity: 1;
}
.header-Title{
    grid-area: h-title;
}
.header-Title h4{
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    margin-top: 30px;
    transform: translate(-50%,0);
    transition: all 1s ease .8s;
    opacity: 0;
}
.header-Title h4._activeAnim{
    transform: translate(0, 0);
    opacity: 1;
}
.header-Title p{
    font-size: 18px;
    text-align: left;
    margin-top: 30px;
    transform: translate(-50%,0);
    transition: all 1s ease 1s;
    opacity: 0;
}
.header-Title p._activeAnim{
    transform: translate(0, 0);
    opacity: .7;
}
.header-buttonWrapper{
    margin-top: 60px;
    transform: translate(-50%,0);
    transition: all 1s ease 1s;
    opacity: 0;
}
.header-buttonWrapper._activeAnim{
    transform: translate(0, 0);
    opacity: 1;
}
._button{
    background: #AC5B5B;
    padding: 25px 50px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.header-image{
    grid-area: h-img;
    transition: all 2s ease 1.5s;
    opacity: 0;
    margin-top: -100px;
}
.header-image img{
    width: 600px;
}
.header-image._activeAnim{
    opacity: 1;
}
.header-info{
    margin-top: -70px;
    margin-left: -80px;
    align-self: center;
}

.header-info h4{
    font-size: 46px;
    font-weight: normal;
    margin-bottom: 20px;
}
.header-info p{
    font-size: 20px;
    opacity: .7;
    line-height: 30px;
}

/*Мои навыки*/
.secSec{
    width: 100%;
    height: 400px;
    background: #fff;
    transition: 1s;
    overflow: hidden;
    background: url('../img/arrowBack.jpg') center no-repeat;
    background-size: cover;
}

.openSec{
    width: 100%;
    height: 480px;
    background: #fff;
    transition: 1s;
    overflow: hidden;
}
.closeSec{
    width: 100%;
    height: 130px;
    background: #fff;
    transition: 1s;
    overflow: hidden;
}
.secSec h1, .mobile h1, .secSec p, .mobile p, .secSec a, .mobile a{
    color: #0E2548;
}
.secSec-content{
    width: 100%;
    position: relative;
    display: grid;
    display: -ms-grid;
    justify-content: center;
    align-items: center;
}
.secSec-title{
    text-align: center;
    justify-self: center;
    text-transform: uppercase;
    margin-top: 40px;
}
.secSec-title h1{
    font-size: 36px;
    font-weight: 500;
    border-left: 5px solid #0E2548;
    padding-left: 10px;
}
#down-arrow{
    width: 50px;
    height: 50px;
    margin-top: 10px;
    transition: .5s;
    display: none;
}
.secSec-mainText{
    margin-top: 60px;
}
.secSec-mainText p{
    font-size: 18px;
}
.markedText{
    font-weight: 500;
    color: #0E2548;
}
.secSec-text2{
    margin-top: 40px;
}


/*Почему я*/

.thirdSec{
    width: 100%;
    height: 565px;
    background: url('../img/whyme-back.jpg') center no-repeat;
    background-size: cover;
}
.thirdSec-content{
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    justify-content: center;
}
.thirdSec-title{
    justify-self: center;
    padding-left: 15px;
    align-self: center;
    border-left: 5px solid #ffff;
    margin-top: 20px;
    text-transform: uppercase;
    transform: translate(-50%,0);
    transition: all 1s ease .5s;
    opacity: 0;
}
.thirdSec-title._activeAnim{
    transform: translate(0,0);
    opacity: 1;
}

.thirdSec-title h1{
    font-size: 36px;
    font-weight: 500;
}
.thirdSec-mainText{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 50px;
    margin-top: 50px;
}
.thirdSec-mainText img{
    width: 125px;
    height: 125px;
}
.thirdSec-mainTextWrap{
    text-align: center;
    transform: translate(-50%,0);
    transition: all 1.5s ease .5s;
    opacity: 0;
}
#item2{
    transition: all 1.5s ease .8s;
}
#item3{
    transition: all 1.5s ease 1s;
}
#item4{
    transition: all 1.5s ease 1.2s;
}
.thirdSec-mainTextWrap._activeAnim{
    transform: translate(0,0);
    opacity: 1;
}
.thirdSec-mainTextWrap p{
    border-top: 3px solid rgba(255, 255, 255, 0.8);
    padding-top: 10px;
    margin-top: 10px;
    font-size: 21px;
}
.thirdSec-mainTextWrap div{
    margin-left: 5vw;
}



/*Слайдер*/

.fourthSec{
    width: 100%;
    height: 800px;
    background: #fff;
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
    background: url('../img/arrowBack.jpg') center no-repeat;
    background-size: cover;
}
.fourthSec-content{
    width: 100%;
    height: 100%;
    display: grid;
    position: relative;
    justify-content: center;
}
.fourthSec h1, .fourthSec p, .fourthSec a{
    color: #0E2548;
}
.fourthSec-title{
    justify-self: center;
    height: 3em;
    text-transform: uppercase;
    border-left: 5px solid #0E2548;
    padding-left: 15px;
    margin-top: 50px;
}
.fourthSec-title h1{
    font-size: 36px;
    font-weight: 500;
}
.slider{
    height: 530px;
    position: relative;
    overflow: hidden;
    margin-top: 50px;
}
.slider-content{
    position: relative;
    right: 0;
    transition: .5s ease-in-out;
}
.slider-item{
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    float: left;
}
.slider-mainText{
    margin-top: 30px;
    margin-right: 200px;
    margin-left: 10px;
}
.slider-mainText h1{
    font-size: 32px;
    text-align: center;
    font-weight: 500;
}
.leftLine{
    display: flex;
    width: 4px;
    height: 20px;
    background-color: #0E2548;
    float: left;
}
.sliderItem-textWrapper div{
    margin-top: 25px;
}
.sliderItem-textWrapper p{
    margin-left: 10px;
    font-size: 18px;
}
.slider-button{
    margin-top: 50px;
}
.slider-button ._button{
    padding: 15px 50px;
    color: #fff;
    font-weight: 500;
}
.arr{
    position: absolute;
    z-index: 3;
    cursor: pointer;
    height: 20px;
    width: 20px;
}
.arr::after{
    content: '';
    position: absolute;
    width: 8px;
    height: 27px;
    transform: rotate(45deg);
    background-color: #0E2548;
    margin-left: 6px;
}
.arr span{
    display: inline-block;
    width: 8px;
    height: 27px;
    transform: rotate(-45deg);
    background-color: #0E2548;
}
.rightArr{
    right: 0;
    transform: rotate(-90deg);
    margin-top: 14px;
}
.leftArr{
    right: 1;
    margin-top: 12px;
    transform: rotate(90deg);
}

.fourthsec-switch{
    top: -40%;
    justify-self: center;
    width: 250px;
    height: 50px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
}
.switchers{
    position: absolute;
    justify-self: center;
    margin-top: 15px;
}
.active{
    background: #0E2548;
}
.non-active{
    background: #EAEAEA;
}
.switchers div{
    width: 20px;
    height: 20px;
    border-radius: 50px;
    float: left;
    margin-left: 10px;
    transition: .5s ease-in-out;
}


/* Связаться со мной */

.footer{
    width: 100%;
    height: 45px;
    display: grid;
    justify-content: center;
}
.footer p{
    margin-top: 0px;
    color: #0E2548;
    justify-self: center;
}